In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("beer.data", header = None, sep=";")

In [16]:
# Query 4
data[data[1] > 10].count()

0    46
1    46
2    46
3    46
dtype: int64

In [21]:
# Query 5
data[data[2] == "Pils"][data[3]==25][1].mean()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

1.37

In [29]:
# Query 6
data[data[2]=="Abbey beers"][data[1] < 10]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                              0     1            2     3
7    Abbaye de St, Martin Blond  2.79  Abbey beers  33.0
9    Abbaye de St, Martin Brown  2.99  Abbey beers  33.0
14        Abbaye des Rocs Blond  2.79  Abbey beers  33.0
15        Abbaye des Rocs Brune  2.89  Abbey beers  33.0
19             Adelardus Double  2.39  Abbey beers  33.0
20             Adelardus Tripel  2.79  Abbey beers  33.0
23               Affligem Blond  2.39  Abbey beers  33.0
24              Affligem Double  2.39  Abbey beers  33.0
58                     Averbode  2.79  Abbey beers  33.0
146               Bornem Double  1.99  Abbey beers  33.0
148               Bornem Tripel  2.49  Abbey beers  33.0
284            Maredsous Blonde  2.19  Abbey beers  33.0
286             Maredsous Brune  2.49  Abbey beers  33.0
288            Maredsous Triple  2.99  Abbey beers  33.0