In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("beer.data", header = None, sep=";")

In [75]:
import math
# Query 3

print(((data[(data[1] * 100).apply(lambda n: n - int(n))!=0][1]*100).apply(int)/100).sum())
print((data[(data[1] * 100).apply(lambda n: n - int(n))!=0][1]).sum())

(data[1].apply(lambda n: ((n*100))) - data[1]*100).sum()

191.73999999999998
191.87

9.237055564881302e-13

In [16]:
# Query 4
data[data[1] > 10].count()

0    46
1    46
2    46
3    46
dtype: int64

In [21]:
# Query 5
data[data[2] == "Pils"][data[3]==25][1].mean()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

1.37

In [31]:
# Query 6
data[data[2]=="Abbey beers"][data[1] < 10].count()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

0    23
1    23
2    23
3    23
dtype: int64

In [34]:
data[data[2] == "Pils"]

                               0     1     2     3
71                 Bass Pale Ale  2.69  Pils  25.0
74            Bavik Premium Pils  1.09  Pils  25.0
78                 Beersel Lager  2.99  Pils  33.0
110            Blauw Export Bier  1.29  Pils  33.0
118                  Bockor Pils  1.29  Pils  25.0
155   Brewdog Dead Pony Pale Ale  4.29  Pils  33.0
267                         Maes  0.99  Pils  25.0
268                         Maes  0.99  Pils  33.0
269                         Maes  1.99  Pils  33.0
290                 Martens Pils  0.79  Pils  25.0
306  Mongozo Gluten-Free Pilsner  2.69  Pils  33.0